In [1]:
import pandas as pd
import numpy as np

In [4]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')

In [6]:
file1.shape

(4008, 11)

In [7]:
file2.shape

(996, 11)

In [8]:
file3.shape

(7070, 11)

In [9]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [10]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [11]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [12]:
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
file2 = file2[['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [16]:
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.200000
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.200000
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,Personal Auto,Four-Door Car,185.667213
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,Corporate Auto,Four-Door Car,140.747286
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,Corporate Auto,Two-Door Car,471.050488
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,Personal Auto,Two-Door Car,28.460568
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,Personal Auto,SUV,700.349052

In [21]:



file3 = file3.rename(columns={'State':'ST','Gender':'GENDER'})
file3 = file3[['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [22]:
file3

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000
3,KX23516,California,F,High School or Below,4455.843406,0,121,0,Personal Auto,SUV,699.615192
4,FN77294,California,M,High School or Below,7704.958480,30366,101,2,Personal Auto,SUV,484.800000
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941,73,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604,79,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0,85,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941,96,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0,77,0,Corporate Auto,Two-Door Car,369.600000

In [23]:
file = pd.concat([file1, file2,file3], axis=0)

In [25]:
file.shape

(12074, 11)

In [27]:
file = file.drop_duplicates()
file.shape

(9135, 11)

In [28]:
file.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [29]:
file._get_numeric_data()
file.select_dtypes('object')

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23406,0,Personal Auto,Four-Door Car
7066,PK87824,California,F,College,3096.51,0,Corporate Auto,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.89,3,Corporate Auto,Four-Door Car
7068,UP19263,California,M,College,7524.44,0,Personal Auto,Four-Door Car
7069,Y167826,California,M,College,2611.84,0,Corporate Auto,Two-Door Car

In [30]:
file['Customer Lifetime Value'] = pd.to_numeric(file['Customer Lifetime Value'],errors='coerce')
file['Number of Open Complaints'] = pd.to_numeric(file['Number of Open Complaints'],errors='coerce')

In [31]:
file.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [33]:
file

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,NaN,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,NaN,0.0,94.0,NaN,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,NaN,48767.0,108.0,NaN,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,NaN,0.0,106.0,NaN,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,NaN,36357.0,68.0,NaN,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

In [34]:
file = file.rename(columns={'ST':'State','GENDER':'Gender'})

In [35]:
file

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,NaN,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,NaN,0.0,94.0,NaN,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,NaN,48767.0,108.0,NaN,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,NaN,0.0,106.0,NaN,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,NaN,36357.0,68.0,NaN,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

In [37]:
file = file.drop(['Number of Open Complaints','Education'], axis = 1)

In [38]:
file.head(60)

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,NaN,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,NaN,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,NaN,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,NaN,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,NaN,28812.0,93.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,NaN,0.0,67.0,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,NaN,0.0,110.0,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,NaN,77026.0,110.0,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,NaN,99845.0,110.0,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,NaN,83689.0,70.0,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,NaN,24599.0,64.0,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,NaN,25049.0,67.0,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,NaN,28855.0,101.0,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,NaN,51148.0,72.0,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,NaN,66140.0,101.0,Corporate Auto,Four-Door Car,484.800000
20,ZK25313,Oregon,NaN,NaN,57749.0,74.0,Personal Auto,Two-Door Car,355.200000
21,QK46697,Washington,M,NaN,61040.0,79.0,Personal Auto,Two-Door Car,20.382876
22,YH23384,Arizona,NaN,NaN,14072.0,71.0,Personal Auto,Four-Door Car,511.200000
23,TZ98966,Nevada,NaN,NaN,0.0,73.0,Corporate Auto,Four-Door Car,554.376763
24,HM55802,California,NaN,NaN,17870.0,61.0,Corporate Auto,Four-Door Car,439.200000
25,FS42516,Oregon,NaN,NaN,97541.0,72.0,Personal Auto,Four-Door Car,389.185006
26,US89481,California,NaN,NaN,0.0,111.0,Personal Auto,Four-Door Car,799.200000
27,HS14476,Washington,M,NaN,29723.0,80.0,Personal Auto,Four-Door Car,20.985105
28,GE62437,AZ,NaN,NaN,86584.0,111.0,Personal Auto,Four-Door Car,532.800000
29,EJ77678,Oregon,NaN,NaN,75690.0,80.0,Personal Auto,Four-Door Car,384.000000
30,SV85652,Arizona,NaN,NaN,23158.0,63.0,Personal Auto,Four-Door Car,322.294043
31,UL64533,Nevada,NaN,NaN,65999.0,237.0,Corporate Auto,Luxury SUV,615.927769
32,PF41800,California,NaN,NaN,0.0,65.0,Personal Auto,Four-Door Car,308.150890
33,HD95276,Washington,F,NaN,0.0,130.0,Personal Auto,SUV,23.820158
34,SK67821,Oregon,NaN,NaN,37260.0,62.0,Corporate Auto,Four-Door Car,15.437681
35,YV55495,Arizona,NaN,NaN,68987.0,71.0,Personal Auto,Four-Door Car,204.475147
36,KY38074,California,NaN,NaN,42305.0,117.0,Personal Auto,Four-Door Car,561.600000
37,DM79012,Oregon,NaN,NaN,65706.0,91.0,Personal Auto,Four-Door Car,436.800000
38,CM61827,Oregon,NaN,NaN,0.0,90.0,Personal Auto,Two-Door Car,648.000000
39,WC35801,Arizona,NaN,NaN,53243.0,66.0,Personal Auto,Four-Door Car,157.397849
40,QG25316,Nevada,NaN,NaN,0.0,70.0,Corporate Auto,Two-Door Car,484.318536
41,MB98372,Oregon,NaN,NaN,50071.0,71.0,Corporate Auto,Two-Door Car,18.918935
42,IL19217,California,NaN,NaN,60021.0,99.0,Personal Auto,Four-Door Car,882.871945
43,SR38658,Arizona,NaN,NaN,43244.0,103.0,Personal Auto,Sports Car,494.400000
44,YD87931,Washington,M,NaN,46896.0,35354.0,Personal Auto,Four-Door Car,31.707317
45,HG65722,Oregon,NaN,NaN,10105.0,172.0,Personal Auto,SUV,0.517753
46,BU27331,Arizona,NaN,NaN,0.0,73.0,Personal Auto,Four-Door Car,579.165954
47,XM45289,Oregon,NaN,NaN,23218.0,71.0,Personal Auto,Two-Door Car,447.793440
48,KP34198,California,NaN,NaN,0.0,92.0,Corporate Auto,Four-Door Car,529.624084
49,SH90947,Arizona,NaN,NaN,0.0,62.0,Personal Auto,Four-Door Car,313.023175
50,WE95729,Oregon,NaN,NaN,24804.0,104.0,Personal Auto,SUV,593.830288
51,PY51963,California,NaN,NaN,33190.0,106.0,Corporate Auto,SUV,508.800000
52,RB69909,Nevada,NaN,NaN,36014.0,69.0,Special Auto,Four-Door Car,173.956072
53,NW21079,Washington,F,NaN,67163.0,61.0,Personal Auto,Two-Door Car,33.192803
54,FR46645,California,NaN,NaN,16701.0,113.0,Personal Auto,Four-Door Car,831.625979
55,SY17488,Arizona,NaN,NaN,46623.0,91.0,Corporate Auto,Four-Door Car,436.800000
56,AP67935,California,NaN,NaN,64749.0,64.0,Special Auto,Four-Door Car,302.565190
57,FS37417,Arizona,NaN,NaN,0.0,101.0,Personal Auto,SUV,484.800000
58,ML29312,Oregon,NaN,NaN,16969.0,124.0,Personal Auto,SUV,704.768111
59,UB61619,Oregon,NaN,NaN,11621.0,108.0,Personal Auto,Four-Door Car,518.400000

In [44]:
file = file[file['Income'] > 0]
file.shape

(6840, 9)

In [45]:
file

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
2,AI49188,Nevada,F,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,NaN,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,NaN,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,NaN,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
7063,TF56202,California,M,5032.165498,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
7064,YM19146,California,F,4100.398533,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
7065,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000